
.first-section {
    background-image: url("https://i.postimg.cc/9M5MjmB9/jumping-cats.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

.first-section ul {
    background-color: #F7F9FC;
    height: 100px;
    width: 350px;
    margin-top: 25px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 8px;
}
.first-section ul {
    background-color: #F7F9FC;
    border-radius: 8px;
    margin-top: 25px;
    padding: 30px 55px;
  }
  
.first-section li {
    margin-bottom: 8px;
  }
  body {
      color: #4a4a4a;
  }
.section {
    padding-top: 60px;
    padding-bottom: 40px
}
